p {
    color: white;
}

h1 {
  color: #fff;
}

a {
  text-decoration: none;
}


  .spiner {
      margin: auto;
  }

.container-blocks {
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin: auto;
}

