.inputForm {
    background-color: transparent;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-top: none;
    border-right: none;
    border-left: none;
display: block;
    padding: 4px;
    margin: 50px !important;
    width: 70%;
    color: #fff;
}

.inputRadio {
    margin: 5px 3px 10px 20px;
    font-size: 25px;
}
.ui.basic.modal> .content {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: white 1px solid;
}

 .submit {
    width: 20%;
    background-color: green;
    color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    left: 5%;
}

.paragraph {
    margin: 15px 0px 1px 0px;
}